<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porfolio</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="./assests/Image.png">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
</head>

<body>
    <!--======================================= header Part Start ====================================================--->
    <nav class="navbar">
        <div class="logo">
            <img src="/assests/Image.png" alt="Logo">
            <div class="nav-text">
                <h1>@SDE Shivam Prajapati</h1>
                <p>Software Engineer</p>
                <p class="change-text">I am a <span class="highlight typed"></span></p>
            </div>
        </div>
        <div class="menu" id="menu">
            <a href="#home" class="active">Home</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <div class="theme-toggle" onclick="toggleTheme()">
                <i class="fa-solid fa-moon" alt="Toggle Dark Mode" id="theme-icon"></i>
            </div>
            <!-- <a href="/singUp">SingUp</a>
            <a href="/login">Login</a> -->
        </div>
        <div class="controls">
            <div class="hamburger" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </nav>
    <!--============================================== header Part Start ==========================================================--->

    <!--========================================== Project Section Start ======================================================== -->
    <section id="project-main">
        <div class="peoject-heading">
            <h1 class="head-recent">Recent</h1>
            <h1 class="head-project">Projects</h1>
        </div>
        <div id="project-home">
           
                <div class="project-main-card">
                    <a>
                        <img src="https://res.cloudinary.com/dl9lv2jzq/image/upload/v1714741296/Portfolio/logo_mqh6oq.png" alt="Man" class="card-img">
                        <div class="description">
                            <h3>
                                Spotify Clone
                            </h3>
                            <button><a href="/project/<%= project._id %>">Click Me!</a></button>
                        </div>
                    </a>
                </div>
                <div class="project-main-card">
                    <a>
                        <img src="https://res.cloudinary.com/dl9lv2jzq/image/upload/v1714119009/Portfolio/Simon_Game_vfzvr1.png" alt="Man" class="card-img">
                        <div class="description">
                            <h3>
                                Simon Game
                            </h3>
                            <button><a href="/project/<%= project._id %>">Click Me!</a></button>
                        </div>
                    </a>
                </div>
                <div class="project-main-card">
                    <a>
                        <img src="https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="Man" class="card-img">
                        <div class="description">
                            <h3>
                              Air BNB
                            </h3>
                            <button><a href="/project/<%= project._id %>">Click Me!</a></button>
                        </div>
                    </a>
                </div>

                <div class="project-main-card">
                    <a>
                        <img src="https://res.cloudinary.com/dl9lv2jzq/image/upload/v1714744800/Portfolio/Screenshot_2024-05-03_192827_s8g2ms.png " alt="Man" class="card-img">
                        <div class="description">
                            <h3>
                                TODO APP
                            </h3>
                            <button><a href="/project/<%= project._id %>">Click Me!</a></button>
                        </div>
                    </a>
                </div>
                <div class="project-main-card">
                    <a>
                        <img src="https://res.cloudinary.com/dl9lv2jzq/image/upload/v1714741793/Portfolio/camera_image_b8ip6v.avif" alt="Man" class="card-img">
                        <div class="description">
                            <h3>
                                Camera Clicking
                            </h3>
                            <button><a href="/project/<%= project._id %>">Click Me!</a></button>
                        </div>
                    </a>
                </div>
                <div class="project-main-card">
                    <a>
                        <img src="https://res.cloudinary.com/dl9lv2jzq/image/upload/v1714741691/Portfolio/amazon-logo_1_royl3d.png" alt="Man" class="card-img">
                        <div class="description">
                            <h3>
                                Amazon Clone
                            </h3>
                            <button><a href="/project/<%= project._id %>">Click Me!</a></button>
                        </div>
                    </a>
                </div>
        </div>

    </section>

    <!--========================================== Project Section End ======================================================== -->

    <!--========================================== About Section Start ======================================================== -->

    <section id="about-section">
        <div class="heading">
            <h1 class="about">About <span>Me!</span></h1>
        </div>
        <div id="about-main">
            <div class="abt-home">
                <p>Pursuing BSc <b>(Information Technology)</b> From SIES (Nerul) College Of Arts Science And Commerce
                    affiliated Mumbai University. Batch <b>2022-2025.</b> <br> <br>
                    I have learned Frontend Technologies (<u>HTML5, CSS3, JavaScript, and their Frameworks Bootstraps,
                        Technology </u>) as well as Backend Technologies(<u>JSP and Databases)</u> and Creates Some
                    Projects using these
                    Technologies. <br> <br>
                    Outside of the Tech World, Hobbies is Visiting new place and Shoot Vlogs.
                <b>Living learning Something new & growing up one day at a time</b></p>
                <div class="img-div">
                    <img src="./assests/Image.png" alt="about image">
                </div>
            </div>
            <a href="res"><button class="cv-btn">Download CV</button></a>

        </div>

    </section>

    <!--========================================== About Section End ======================================================== -->


    <!--========================================== Skill Section Start ======================================================== -->
    <section class="skill" id="skill-home">
        <div class="skill-heading">
            <h2 class="what">What </h2>
            <h2 class="I">I</h2>
            <h2 class="know">Know</h2>
        </div>

        <div class="all-skill-box">
            <div class="frontend">
                <div class="front-skill">
                    <h1>Frontend</h1>
                    <div class="html">
                        <p class="html">HTML </p><img src="./assests/html icon.png" alt="html"></img>
                    </div>
                    <div class="css">
                        <p class="css">CSS </p> <img src="./assests/CSS icon.png" alt="CSS"></img>
                    </div>
                    <div class="telwind">
                        <p class="telwind">Tailwind</p> <img src="./assests/tailwind-css-icon.png" alt="telwind"> </img>
                    </div>

                    <div class="javascript">
                        <p class="javascript">Javascript</p> <img src="./assests/javascript-96 px size.png"
                            alt="Javascript"></img>
                    </div>

                    <div class="reactjs">
                        <p class="reactjs">React Js</p> <img src="./assests/react 80px size.png" alt="React"></img>
                    </div>
                </div>
            </div>

            <div class="backend">
                <div class="back-skill">
                    <h1>Backend</h1>
                    <div class="NodeJs">
                        <p class="NodeJs">Node Js</p> <img src="./assests/node-js-96.png" alt="Node Js"> </img>
                    </div>
                    <div class="Express">
                        <p class="Express">ExpressJs</p> <img src="./assests/icons8-express-js-96.png"
                            alt="Express Js"></img>
                    </div>
                </div>
            </div>

            <div class="detabase">
                <h1>Database</h1>
                <div class="mysql">
                    <p class="html">MySql</p> <img src="./assests/icons8-mysql-96.png" alt="MYsql Image"> </img>
                </div>
                <div class="MongoDB">
                    <p class="html">MongoDB </p> <img src="./assests/icons8-mongodb-96.png" alt="Mongo DB"> </img>
                </div>
            </div>
            <div class="Deveops">
                <h1>Deveops</h1>
                <div class="devop-skill">
                    <div class="git">
                        <p class="html">Git</p> <img src="./assests/icons8-git-96.png" alt="GIT"> </img>
                    </div>
                    <div class="aws">
                        <p class="html">AWS</p> <img src="./assests/icons8-mongodb-96.png" alt="AWS"> </img>
                    </div>
                    <div class="github">
                        <p class="html">GITHUB</p> <img src="./assests/icons8-git-96.png" alt=""> </img>
                    </div>
                </div>
            </div>
            <div class="pro-language">
                <h1>Language</h1>
                <div class="java">
                    <p class="html">Java</p> <img src="./assests/icons8-java-96.png" alt="Java"> </img>
                </div>
                <div class="DSA">
                    <p class="html">DSA</p> <img src="./assests/icons8-java-96.png" alt="Java"> </img>
                </div>
                <div class="Cplus">
                    <p class="C++" class="html">C++</p> <img src="./assests/icons8-c-96.png" alt="C++"> </img>
                </div>
                <div class="python">
                    <p class="python">Pyhton</p> <img src="./assests/python-96.png" alt="Python"></img>
                </div>

            </div>
        </div>
    </section>
    <!--========================================== Skill Section End ======================================================== -->
    <!--========================================== Contect Section End ======================================================== -->
    <section id="contact-main-box">
        <div id="contect-main">
            <div class="contect-heading">
                <h1 style="color: #FFA600;">Get In Touch <span>With Me!</span></h1>
            </div>
                <div class="msg-form">
                    <form action="">
                        <input type="text"  id="name" class="name" placeholder="Enter Your Name" required>
                        <br>
                        <input type="email"  id="email" class="email" placeholder="Enter Your Email" required>
                        <br>
                        <input type="mobile"  id="number" class="number"
                            placeholder="Enter Your Mobile Number" required>
                        <br>
                        <input  id="message" class="message"
                            placeholder="Write Your Message Here" required></input>
                        <br><br>
                        <button class="send-btn">Send</button>
                    </form>
                </div>
        </div>
    </section>
    <!--========================================== Contect Section End ======================================================== -->
    <!--========================================== footer Section Start ======================================================== -->
    <footer id="main-footer">
        <div class="foot-box">
            <div class="join-us">
                <h4>JOIN US ON</h4>
                <h6><span class="typed" style="color: #FFA600;"></span></h6>
            </div>
            <div class="social-icon">
                <a href=""><i class="fa-brands fa-github" style="--i: 7"></i></a>
                <a href=""><i class="fa-brands fa-linkedin" style="--i: 8"></i></a>
                <a href=""><i class="fa-brands fa-instagram" style="--i: 9"></i></a>
                <a href=""><i class="fa-brands fa-twitter" style="--i: 10"></i></a>
                <a href=""><i class="fa-brands fa-facebook" style="--i: 11"></i></a>
            </div>
            <div class="footer-title">
                <p>Copyright @2024 HandCreated By Me ❤️</p>
            </div>
        </div>
    </footer>
    <!--========================================== Footer Section End ======================================================== -->


    <!-- ---------------------------------- javaScript Part ----------------------------------- -->

    <script>
        function showSidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }
        function hideSidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }
    </script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="Script.js"></script>

    <!-- ---------------------------------- javaScript Part ----------------------------------- -->
</body>

</html>
